// Rofi colors for Emilia

* {
    font: "JetBrainsMono NF Bold 9";
    background: #1a1b26;
    bg-alt: #222330;
    background-alt: #1a1b26E0;
    foreground: #c0caf5;
    selected: #b4befe;
    active: #a6e3a1;
    urgent: #f38ba8;

    img-background: url("~/.config/bspwm/rices/catppuccin/rofi.webp", width);
}
