// Rofi colors for Emilia

* {
    font: "JetBrainsMono NF Bold 9";
    background: #1e1e2e;
    bg-alt: #222330;
    background-alt: #1e1e2eE0;
    foreground: #b4befe;
    selected: #b4befe;
    active: #a6e3a1;
    urgent: #f38ba8;

    img-background: url("~/.config/bspwm/rices/catppuccin/rofi.webp", width);
}
